{% extends "base.html" %}
{% block titel %}Mijn rooster{% endblock %}
{% set dagnamen = ['maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag', 'zondag'] %}
{% block inhoud %}
<div class="kop-rij">
  <h1>Mijn rooster <small>{{ medewerker.naam }}</small></h1>
  <span class="knoppen">
    <a class="knop" href="{{ url_for('rooster.week') }}">Deze week</a>
    <a class="knop" href="{{ url_for('kalender.jaar') }}">Kalender</a>
    {% if heeft_route('ics.agenda_info') %}<a class="knop" href="{{ url_for('ics.agenda_info') }}">In mijn agenda</a>{% endif %}
  </span>
</div>
<p class="hulp">Je diensten voor de komende 8 weken.</p>
<ul class="mijn-lijst">
{% for d in diensten %}
  {% if loop.first or d.datum.isocalendar()[1] != loop.previtem.datum.isocalendar()[1] %}
  <li class="mijn-week"><a href="{{ url_for('rooster.week_tonen', jaar=d.datum.isocalendar()[0], week=d.datum.isocalendar()[1]) }}">Week {{ d.datum.isocalendar()[1] }}</a></li>
  {% endif %}
  <li class="mijn-dag{% if d.datum == vandaag %} vandaag{% endif %}">
    <span class="mijn-datum">{{ dagnamen[d.datum.weekday()] }} {{ d.datum|datum_nl }}</span>
    <span class="mijn-dienst">
      {% if d.dienstnaam %}<span class="dienst-voorbeeld" style="{% if d.dienstcode %}background:{{ d.dienstcode.kleur_achtergrond }};color:{{ d.dienstcode.kleur_tekst }}{% endif %}">{{ d.dienstnaam }}</span>{% endif %}
      {% if d.begin %}{{ d.begin }} – {{ d.eind }}{% endif %}
      {% if d.opmerking_tekst %}<em>{{ d.opmerking_tekst }}{% if d.opmerking_begin %} ({{ d.opmerking_begin }}–{{ d.opmerking_eind }}){% endif %}</em>{% endif %}
    </span>
    <span class="mijn-uren">{{ d.uren_berekend|uren }}</span>
  </li>
{% else %}
  <li>Geen diensten gevonden in de komende 8 weken.</li>
{% endfor %}
</ul>
{% endblock %}
